$color-brand: #FF9900;
$color-additional: #FF7549;
$color-background: #FFEEE1;
$color-shadow: #D1D1D1;
$color-tag: #D7D7D7;
$color-tag-inside: #F5F5F5;
$color-link: #1943EF;
$color-text: #544837;
$color-heading: #2F281E;
$color-borders: #BCD0E5;
$color-button-font: #173A56;
$color-light: #fff;
$color-placeholder: #C6C6C6;
$color-hamburger: #173A56;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;