@mixin font ($size, $height, $weight:normal , $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;    
}
@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}