@mixin font ($size, $height, $weight:normal , $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;    
}
@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >* {
        flex-basis: $width;
    }
}
@mixin formplaceholder ($color, $size, $height, $weight, $style) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    color: $color;
    padding: 10px 0 0 21px;
}
@mixin media-laptop {
    @media (max-width: $content-width) { @content; }
}
@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-mobile {
    @media (max-width: $mobile-big-width) { @content; }
}
@mixin media-mobilesmall {
    @media (max-width: $mobile-small-width) { @content; }
}