.benefits__wrapper {
    background-image: url("../assets/Pics/Benefits/backgroundbenefits.svg");
    padding-bottom: 90px;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.benefits-elements {
    & .benefits-title {
        display: flex;
        justify-content: center;
        padding-bottom: 70px;
        padding-top: 110px;
        & h2 {
            max-width: 462px;
            text-align: center;
        }
    }
    & .benefits-button {
        display: flex;
        justify-content: center;
    }
    & .benefits-box {
        margin: 0 auto;
    }
}

