.layout-4columns {
    @include columns ($width: 21%);
    @include media-mobile {
        flex-direction: column;
        text-align: center;
        >* {
            margin-bottom: 47px;
        }
    }
 }
 .layout-3columns {
    @include columns ($width: 30%);
     
    @include media-laptop {
       
    }
 }
 .layout-2columns {
    @include columns ($width: 49%);
    

 }
 .layout-contactus {
    @include columns ($width: 46%);
   
 }