// Section Header

.section-header {
    @extend %shadow;
}
.header-elements {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 10px 0;
    @include media-mobile {
        justify-content: left; // поставить по центру!!!
    }
    @include media-tablet {
    }
    & .header-logo {
        padding: 7px 0 7px 0;
    }
    & .header-navigation {
        padding: 7px 0 7px 0;
        @include media-tablet {
            display: none;
        }
    }
    & .header-links {
        display: flex;
        list-style: none; 
        &:hover {
            cursor: pointer;
        }
        & li {
            padding-left: 17px;
        }
        & .activelink {
            color: $color-brand;
        }
    }
    & .header-buttons {
        padding: 0;
        @include media-mobile {
            display: none;
        } 
        & .button {
            width: 105px;
            height: 46px;
            border-radius: 4px;
            @include font (1.6rem, 2.2rem, 600, normal);
            color: $color-button-font;
            &:hover {
                cursor: pointer;
                @extend %transition;
            }
        }
        & .button_bordered {
            border: 1px solid $color-borders;
            background: $color-light;
            &:hover {
                background: $color-borders;
            }
        }
        & .button_colored {
            color: $color-light;
            border: 1px solid $color-brand;
            background: $color-brand;
            margin-left: 15px;
            &:hover {
                background: $color-additional;
            }
        }  
        
    }
}


.header-wrapper {
    @include media-tablet { 
        padding-left: 22px;
    }
}

.logo-object {
    @include media-mobile {
        width: 160px;
    }
}